In [1]:
import pandas as pd

df = pd.read_excel('Prices.xlsx', sheet_name='Yearly_Avg', header= 5)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,USD,EUR,JPY,GBP,CAD,CHF,INR,...,SAR,IDR,AED,THB,VND,EGP,KRW,RUB,ZAR,AUD
0,NaN,NaN,1978-12-29,193.44,124.73580,NaN,100.65449,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1979-12-31,304.68,185.06142,67944.12820,143.09014,358.67706,507.32932,2481.90512,...,1030.00823,1.912820e+05,1163.93597,6201.36554,NaN,NaN,1.480488e+05,NaN,256.98018,274.26741
2,NaN,NaN,1980-12-31,614.50,378.19461,138760.06260,263.80259,717.92312,1027.53631,4831.74943,...,2044.58523,3.838177e+05,2278.36795,12496.01711,NaN,NaN,3.668235e+05,NaN,478.27728,538.72535
3,NaN,NaN,1981-12-31,459.26,360.90588,100895.82110,227.01948,550.13388,900.97595,3966.64790,...,1554.10505,2.889265e+05,1691.03194,9908.73893,NaN,NaN,3.151918e+05,NaN,400.43678,399.09781
4,NaN,NaN,1982-12-31,375.30,345.59742,93780.75932,215.53232,462.35812,765.10276,3553.62680,...,1287.46762,2.475087e+05,1378.72895,8589.98652,NaN,NaN,2.762290e+05,NaN,408.52175,371.52085
5,NaN,NaN,1983-12-30,423.66,439.89318,100676.33940,279.24936,521.79192,889.00561,4270.42821,...,1465.69942,3.831876e+05,1557.45790,9709.79550,NaN,NaN,3.312303e+05,NaN,471.33980,469.66252
6,NaN,NaN,1984-12-31,360.78,425.91000,85515.02188,269.81553,466.41352,844.60104,4067.60433,...,1272.30542,3.697443e+05,1324.72272,8458.99207,NaN,NaN,2.924677e+05,NaN,527.20890,409.87547
7,NaN,NaN,1985-12-31,317.30,394.08922,75698.58994,246.28501,432.34535,779.09605,3887.39270,...,1149.83688,3.514244e+05,1162.19778,8490.61769,NaN,NaN,2.749671e+05,NaN,703.41633,452.90036
8,NaN,NaN,1986-12-31,367.85,351.34774,61804.00416,251.12483,511.43250,658.66393,4625.06990,...,1365.98238,4.788959e+05,1351.92474,9567.75152,NaN,NaN,3.241241e+05,NaN,839.70641,551.85763
9,NaN,NaN,1987-12-31,446.22,366.06607,64463.30478,272.49236,592.34316,665.44115,5761.91787,...,1676.14750,7.349720e+05,1641.52338,11390.60333,NaN,NaN,3.664745e+05,NaN,909.38208,636.59842
10,NaN,NaN,1988-12-30,436.86,352.12732,55986.98604,245.62804,537.78967,638.45216,6039.39391,...,1637.85111,7.378636e+05,1603.97099,11000.81274,NaN,979.96201,3.200076e+05,NaN,991.53263,559.82134
11,NaN,NaN,1989-12-29,380.82,325.48985,52540.57711,232.74627,451.21388,622.92598,6148.71301,...,1429.67511,6.766263e+05,1399.80516,9749.43176,1.833960e+06,957.51716,2.560798e+05,NaN,998.18221,481.50424
12,NaN,NaN,1990-12-31,383.56,282.94628,55447.51590,215.96014,447.58550,533.03436,6697.62037,...,1437.67847,7.067605e+05,1407.79204,9777.83736,1.889083e+06,1035.83312,2.710758e+05,NaN,991.05891,491.16764
13,NaN,NaN,1991-12-31,362.26,278.40720,48704.29830,205.50722,414.98416,519.34545,8225.74960,...,1357.68823,7.078575e+05,1329.58386,9223.24694,3.244975e+06,1174.49995,2.655706e+05,NaN,999.87299,465.05726
14,NaN,NaN,1992-12-31,343.95,253.37085,43536.02500,195.54612,415.49659,482.77291,9636.93952,...,1289.54245,7.001926e+05,1262.92339,8726.66491,3.846973e+06,1144.50808,2.685723e+05,NaN,979.86086,468.40656
15,NaN,NaN,1993-12-31,359.82,301.32700,39882.67612,239.71266,464.82885,532.23311,11203.55009,...,1350.22196,7.539189e+05,1322.04967,9111.59426,3.827301e+06,1204.63719,2.891226e+05,338.66170,1179.07225,530.54020
16,NaN,NaN,1994-12-30,384.15,319.36006,39235.34995,250.80356,524.49038,524.55112,12051.84810,...,1440.74899,8.296867e+05,1396.44400,9660.35336,4.202318e+06,1292.24795,3.087489e+05,832.66869,1364.40879,525.32433
17,NaN,NaN,1995-12-29,384.05,291.93644,36091.85967,243.34273,527.16623,453.80782,12439.26340,...,1440.42128,8.618879e+05,1410.56247,9569.45147,4.265279e+06,1307.64891,2.960957e+05,1751.97523,1393.01339,518.50464
18,NaN,NaN,1996-12-31,387.87,300.88347,42146.36725,248.89782,528.91593,478.63149,13721.36060,...,1454.68411,9.025167e+05,1424.56482,9830.74316,4.276946e+06,1318.79078,3.118342e+05,2005.99238,1662.97506,495.99054
19,NaN,NaN,1997-12-31,331.29,292.48136,40007.84639,202.37806,458.16215,480.52540,12006.07350,...,1242.54875,9.386244e+05,1216.71937,10226.45157,3.872283e+06,1125.23600,3.109439e+05,1914.89095,1523.83283,444.99910
20,NaN,NaN,1998-12-31,294.09,264.28112,38498.90734,177.46076,436.10443,426.32453,12132.61060,...,1103.10832,3.029919e+06,1080.16664,12147.99515,4.052365e+06,1003.48619,4.122219e+05,2945.25474,1626.93009,467.76233
21,NaN,NaN,1999-12-31,278.57,261.40000,31645.30000,172.11000,413.96000,418.36000,11996.34000,...,1044.81000,2.189678e+06,1023.13000,10549.61000,3.881737e+06,951.98000,3.311900e+05,6925.51000,1702.97000,431.77000
22,NaN,NaN,2000-12-29,279.10,302.84000,30075.27000,184.37000,414.36000,471.52000,12534.36000,...,1046.80000,2.338606e+06,1025.13000,11204.21000,3.952056e+06,985.84000,3.151700e+05,7860.15000,1933.29000,481.01000
23,NaN,NaN,2001-12-31,271.04,302.79000,32901.92000,188.23000,419.71000,457.21000,12789.03000,...,1016.51000,2.777359e+06,995.52000,12060.99000,4.012616e+06,1097.64000,3.494213e+05,7913.99000,2328.84000,524.30000
24,NaN,NaN,2002-12-31,309.68,327.99000,38722.95000,206.12000,486.14000,481.14000,15048.42000,...,1161.38000,2.880768e+06,1137.45000,13310.80000,4.728430e+06,1433.28000,3.862741e+05,9722.66000,3247.90000,569.61000
25,NaN,NaN,2003-12-31,363.32,321.17000,42046.81000,222.20000,507.97000,488.36000,16905.93000,...,1362.54000,3.112534e+06,1334.46000,15064.41000,5.635365e+06,2135.60000,4.324835e+05,11140.15000,2736.53000,558.25000
26,NaN,NaN,2004-12-31,409.17,329.09000,44236.41000,223.32000,531.49000,508.03000,18540.86000,...,1534.47000,3.656379e+06,1502.93000,16476.04000,6.440400e+06,2538.64000,4.684265e+05,11785.94000,2633.79000,555.97000
27,NaN,NaN,2005-12-30,444.45,358.31000,49065.33000,244.84000,537.80000,554.83000,19615.44000,...,1666.91000,4.321719e+06,1632.49000,17911.73000,7.047858e+06,2573.45000,4.554857e+05,12582.88000,2833.12000,583.35000
28,NaN,NaN,2006-12-29,603.77,480.46000,70168.72000,327.62000,684.19000,755.68000,27373.71000,...,2264.45000,5.530818e+06,2217.63000,22873.25000,9.655885e+06,3466.81000,5.761174e+05,16393.94000,4096.04000,801.26000
29,NaN,NaN,2007-12-31,695.39,506.75000,81747.05000,346.98000,743.70000,832.78000,28688.14000,...,2605.50000,6.356836e+06,2553.61000,23975.45000,1.118478e+07,3921.85000,6.458063e+05,17751.83000,4893.86000,828.54000
30,NaN,NaN,2008-12-31,871.96,593.18000,90414.51000,471.75000,924.87000,941.46000,37761.76000,...,3270.90000,8.392879e+06,3202.61000,29022.93000,1.432552e+07,4739.90000,9.509420e+05,21581.67000,7147.87000,1033.11000
31,NaN,NaN,2009-12-31,972.35,696.88000,90786.11000,621.11000,1105.00000,1052.01000,47005.72000,...,3646.72000,1.005866e+07,3571.40000,33319.12000,1.732038e+07,5394.82000,1.236790e+06,30787.35000,8131.29000,1234.95000
32,NaN,NaN,2010-12-31,1224.52,925.07000,107090.07000,792.32000,1260.96000,1273.85000,55973.95000,...,4592.21000,1.111516e+07,4497.58000,38729.65000,2.345986e+07,6910.83000,1.416472e+06,37236.04000,8945.64000,1331.69000
33,NaN,NaN,2011-12-30,1571.52,1129.72000,124898.76000,980.64000,1556.33000,1388.58000,73468.52000,...,5893.70000,1.378979e+07,5772.16000,47905.42000,3.249378e+07,9345.95000,1.741006e+06,46275.72000,11458.20000,1523.35000
34,NaN,NaN,2012-12-31,1668.98,1298.40000,133089.63000,1052.89000,1667.11000,1564.90000,89057.53000,...,6259.20000,1.565393e+07,6130.18000,51835.94000,3.481867e+07,10129.86000,1.879337e+06,51808.77000,13698.12000,1610.40000
35,NaN,NaN,2013-12-31,1411.23,1063.60000,137198.82000,903.71000,1450.96000,1308.97000,82241.61000,...,5292.61000,1.460238e+07,5183.46000,43226.68000,2.964187e+07,9688.33000,1.545491e+06,44829.55000,13543.52000,1454.48000
36,NaN,NaN,2014-12-31,1266.40,952.91000,133678.26000,768.23000,1397.36000,1157.30000,77229.80000,...,4750.23000,1.500730e+07,4651.52000,41115.55000,2.682293e+07,8971.17000,1.332783e+06,48490.58000,13724.38000,1402.56000
37,NaN,NaN,2015-12-31,1160.06,1045.18000,140383.80000,758.88000,1480.79000,1115.49000,74313.04000,...,4351.70000,1.552398e+07,4260.90000,39672.24000,2.539406e+07,8938.36000,1.311776e+06,70867.28000,14745.52000,1542.68000
38,NaN,NaN,2016-12-30,1250.80,1129.10000,135418.30000,926.96000,1655.09000,1230.68000,84006.90000,...,4691.38000,1.661580e+07,4594.17000,44092.84000,2.796429e+07,12420.36000,1.449118e+06,83668.49000,18349.51000,1679.72000
39,NaN,NaN,2017-12-29,1257.15,1114.23000,140957.37000,976.15000,1631.29000,1237.23000,81853.62000,...,4714.75000,1.681879e+07,4617.43000,42640.86000,2.855736e+07,22420.48000,1.421774e+06,73359.39000,16746.53000,1639.58000
40,NaN,NaN,2018-12-31,1268.49,1073.57000,140039.70000,949.69000,1642.26000,1240.46000,86650.56000,...,4760.12000,1.803876e+07,4659.14000,40975.30000,2.918440e+07,22593.17000,1.395057e+06,79407.91000,16745.36000,1695.70000
41,NaN,NaN,2019-12-31,1392.60,1244.88000,151689.33000,1092.96000,1847.14000,1383.37000,98093.13000,...,5223.97000,1.969171e+07,5114.98000,43183.78000,3.234279e+07,23382.99000,1.625478e+06,90090.90000,20154.90000,2006.19000
42,NaN,NaN,2020-12-31,1769.59,1549.04000,188771.16000,1379.05000,2371.23000,1658.14000,131202.92000,...,6640.89000,2.579998e+07,6499.70000,55344.62000,4.110568e+07,27991.04000,2.085669e+06,128391.52000,29171.43000,2563.14000
43,NaN,NaN,2021-12-31,1798.61,1520.66000,197452.31000,1307.47000,2254.25000,1643.88000,132985.88000,...,6746.33000,2.573413e+07,6606.30000,57538.48000,4.125106e+07,28232.12000,2.059236e+06,132521.34000,26589.05000,2395.23000
44,NaN,NaN,2022-12-30,1800.09,1710.39000,236043.96000,1457.88000,2340.57000,1718.50000,141287.27000,...,6758.88000,2.669965e+07,6611.71000,63014.97000,4.210595e+07,34416.79000,2.322615e+06,126858.52000,29397.27000,2592.53000
45,NaN,NaN,2023-12-29,1940.54,1794.95000,272977.95000,1560.71000,2619.22000,1744.25000,160226.19000,...,7280.53000,2.956963e+07,7127.19000,67552.80000,4.625267e+07,59587.42000,2.535512e+06,166081.67000,35825.91000,2924.06000

In [2]:
df.drop(columns= ['Unnamed: 0', 'Unnamed: 1'], inplace=True)

In [3]:
df.rename(columns= {'Unnamed: 2': 'date'}, inplace=True)

In [4]:
df.drop([x for x in range(32)], inplace=True)

In [5]:
year = df['date'].dt.year
df.drop(columns= 'date', inplace=True)

In [12]:
df.insert(loc=0, column='year', value= year)
df.reset_index(inplace=True)

ValueError: cannot insert year, already exists

In [16]:
[x for x in df.columns if not (x=='year')]

['USD',
 'EUR',
 'JPY',
 'GBP',
 'CAD',
 'CHF',
 'INR',
 'CNY',
 'TRY',
 'SAR',
 'IDR',
 'AED',
 'THB',
 'VND',
 'EGP',
 'KRW',
 'RUB',
 'ZAR',
 'AUD']

In [20]:
gold_prices = pd.melt(df, id_vars=['year'], value_vars= [x for x in df.columns if not (x=='year')])
gold_prices

     year variable    value
0    2010      USD  1224.52
1    2011      USD  1571.52
2    2012      USD  1668.98
3    2013      USD  1411.23
4    2014      USD  1266.40
..    ...      ...      ...
261  2019      AUD  2006.19
262  2020      AUD  2563.14
263  2021      AUD  2395.23
264  2022      AUD  2592.53
265  2023      AUD  2924.06

[266 rows x 3 columns]

In [21]:
gold_prices.rename(columns={'variable': 'currency'}, inplace=True)

In [22]:
gold_prices

     year currency    value
0    2010      USD  1224.52
1    2011      USD  1571.52
2    2012      USD  1668.98
3    2013      USD  1411.23
4    2014      USD  1266.40
..    ...      ...      ...
261  2019      AUD  2006.19
262  2020      AUD  2563.14
263  2021      AUD  2395.23
264  2022      AUD  2592.53
265  2023      AUD  2924.06

[266 rows x 3 columns]

In [23]:
gold_prices.to_csv('gold_prices.csv')