In [1]:
import pandas as pd
df = pd.read_excel('World_official_gold_holdings_as_of_Apr2024_IFS.xlsx', header=5)
df

,Unnamed: 0,Unnamed: 1,Tonnes,% of reserves**,Holdings as of,Unnamed: 5,Unnamed: 6,Tonnes.1,% of reserves**.1,Holdings as of .1
0,1,United States,8133.461673,0.697158,Feb 2024,51.0,"Belarus, Rep. of4)",53.954776,0.432568,Feb 2024
1,2,Germany,3352.306305,0.687148,Feb 2024,52.0,Finland,49.018693,0.191509,Feb 2024
2,3,IMF,2814.042083,1),Feb 2024,53.0,Cambodia,42.485231,0.148683,Jul 2023
3,4,Italy,2451.836646,0.659711,Feb 2024,54.0,Bulgaria,40.866536,0.066856,Feb 2024
4,5,France,2436.969301,0.66837,Feb 2024,55.0,"Serbia, Rep. of",40.511681,0.098356,Feb 2024
5,6,Russian Federation,2329.632049,0.26131,Jan 2024,56.0,Malaysia,38.879040,0.022423,Feb 2024
6,7,"China, P.R.: Mainland",2257.472551,0.04324,Feb 2024,57.0,WAEMU3),36.522496,0.143692,Jan 2024
7,8,Switzerland,1039.998756,0.08015,Feb 2024,58.0,Peru,34.670160,0.031983,Jul 2021
8,9,Japan,845.97309,0.043469,Feb 2024,59.0,Czech Rep.,34.032752,0.015453,Feb 2024
9,10,India,816.996745,0.085255,Feb 2024,60.0,Slovak Rep.,31.694193,0.175784,Feb 2024
10,11,"Netherlands, The",612.453734,0.58239,Feb 2024,61.0,Ukraine,27.059812,0.048048,Feb 2024
11,12,Turkey5),556.214883,0.331567,Nov 2022,62.0,Ecuador,26.281073,0.340195,Feb 2024
12,13,ECB,506.516127,0.350509,Feb 2024,63.0,Syrian Arab Republic,25.800000,0.092495,Jun 2011
13,14,Taiwan Province of China,422.381885,0.04656,Jan 2024,64.0,Bolivia,24.308411,0.755728,Aug 2023
14,15,Portugal,382.631955,0.720579,Feb 2024,65.0,Kyrgyz Rep.,23.506396,0.463949,Feb 2024
15,16,"Uzbekistan, Rep. of",368.573295,0.74961,Feb 2024,66.0,Morocco,22.115399,0.040815,Feb 2024
16,17,"Poland, Rep. of",358.694105,0.125539,Feb 2024,67.0,"Afghanistan, Islamic Rep. of",21.865850,0.148425,May 2021
17,18,Saudi Arabia,323.067432,0.046468,Dec 2023,68.0,Nigeria,21.461230,0.040429,Jan 2018
18,19,United Kingdom,310.287116,0.11793,Feb 2024,69.0,Bangladesh,14.050879,0.042337,Dec 2023
19,20,"Kazakhstan, Rep. of",306.1616,0.55529,Feb 2024,70.0,Cyprus,13.903145,0.5142,Feb 2024
20,21,Lebanon,286.834002,0.566905,Sep 2023,71.0,Curaçao and Sint Maarten,13.094461,0.34712,Nov 2023
21,22,Spain,281.577556,0.181248,Feb 2024,72.0,Mauritius,12.416410,0.11467,Feb 2024
22,23,Austria,279.991291,0.601102,Feb 2024,73.0,Ireland,12.036951,0.062754,Feb 2024
23,24,Thailand,244.160368,0.072265,Feb 2024,74.0,Ghana,8.740008,0.140122,Jan 2024
24,25,Singapore,232.149762,0.04176,Feb 2024,75.0,Paraguay,8.193369,0.054596,Dec 2023
25,26,Belgium,227.395726,0.370281,Feb 2024,76.0,Nepal,7.987724,0.042238,Dec 2023
26,27,Algeria,173.556032,0.14113,Feb 2024,77.0,"Tajikistan, Rep. of",7.415256,0.134642,Feb 2023
27,28,"Venezuela, Republica Bolivariana de",161.220491,0.846097,Jun 2018,78.0,Myanmar,7.268825,0.058472,Mar 2021
28,29,Philippines,157.042935,0.100093,Jan 2024,79.0,"North Macedonia, Republic of",6.893006,0.096514,Feb 2024
29,30,Iraq,142.577214,0.083605,Dec 2023,80.0,Guatemala,6.892476,0.021917,Feb 2024
30,31,Brazil,129.652632,0.024205,Feb 2024,81.0,Tunisia,6.842711,0.055937,Feb 2024
31,32,"Egypt, Arab Rep. of",126.190903,0.250219,Nov 2023,82.0,Mongolia,6.766831,0.091926,Feb 2024
32,33,Sweden,125.719262,0.137139,Feb 2024,83.0,Latvia,6.656092,0.089347,Feb 2024
33,34,South Africa,125.439333,0.134899,Jan 2024,84.0,Lithuania,5.816304,0.0702,Feb 2024
34,35,Mexico,120.410961,0.036118,Feb 2024,85.0,BEAC9),4.746073,1),Feb 2024
35,36,Libya,116.64,0.094456,Nov 2020,86.0,Colombia,4.675025,0.005227,Feb 2024
36,37,Greece,114.428789,0.558002,Feb 2024,87.0,"Bahrain, Kingdom of",4.665485,0.072431,Nov 2023
37,38,"Korea, Rep. of",104.445164,0.016512,Feb 2024,88.0,Brunei Darussalam,4.551763,0.071613,Nov 2023
38,39,Romania,103.623526,0.090642,Feb 2024,89.0,"Mozambique, Rep. of",3.936888,0.070153,Jan 2024
39,40,Qatar,102.523603,0.130508,Feb 2024,90.0,Albania,3.421355,0.036582,Jan 2024
40,41,BIS2),102,1),Feb 2024,91.0,"Slovenia, Rep. of",3.172530,0.080899,Feb 2024
41,42,Hungary,94.491618,0.123488,Feb 2024,92.0,"Aruba, Kingdom of the Netherlands",3.110323,0.135453,Jun 2023
42,43,Australia,79.873099,0.094019,Feb 2024,93.0,Oman,2.358424,0.008908,Jan 2024
43,44,Kuwait,78.970162,0.101326,Jan 2024,94.0,Luxembourg,2.239433,0.049993,Feb 2024
44,45,Indonesia,78.566846,0.035659,Jan 2024,95.0,Hong Kong SAR,2.083917,0.000324,Jan 2024
45,46,United Arab Emirates,73.920486,0.025189,Jan 2024,96.0,Iceland,1.984386,0.022712,Feb 2024
46,47,Jordan,70.4028,0.243739,2024-02-29 00:00:00,97.0,Trinidad and Tobago,1.949262,0.022766,Feb 2024
47,48,Denmark,66.548474,0.040654,Feb 2024,98.0,Haiti,1.788893,0.045343,Jul 2019
48,49,Pakistan,64.673552,0.316592,Feb 2024,99.0,"Yemen, Republic of",1.600000,0.019945,Jul 2014
49,50,Argentina,61.738777,0.152403,Feb 2024,100.0,Bosnia and Herzegovina,1.492955,0.011095,Feb 2024
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,WORLD OFFICIAL GOLD HOLDINGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,"International Financial Statistics, April 2024*",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,Other,Tonnes,% of reserves**,Holdings as of,NaN,NaN,NaN,NaN,NaN
57,NaN,World6),35976.210476,0.151481,Jan 2024,NaN,NaN,NaN,NaN,NaN
58,NaN,Euro Area (incl. ECB),10771.484557,0.564062,Feb 2024,NaN,NaN,NaN,NaN,NaN
59,NaN,State Oil Fund of the Republic of Azerbaijan (...,101.8,0.119551,2023-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN

In [2]:
df1 = df.iloc[:, :6] 
df2 = df.iloc[:, 6:]
display(df1)
df2

,Unnamed: 0,Unnamed: 1,Tonnes,% of reserves**,Holdings as of,Unnamed: 5
0,1,United States,8133.461673,0.697158,Feb 2024,51.0
1,2,Germany,3352.306305,0.687148,Feb 2024,52.0
2,3,IMF,2814.042083,1),Feb 2024,53.0
3,4,Italy,2451.836646,0.659711,Feb 2024,54.0
4,5,France,2436.969301,0.66837,Feb 2024,55.0
5,6,Russian Federation,2329.632049,0.26131,Jan 2024,56.0
6,7,"China, P.R.: Mainland",2257.472551,0.04324,Feb 2024,57.0
7,8,Switzerland,1039.998756,0.08015,Feb 2024,58.0
8,9,Japan,845.97309,0.043469,Feb 2024,59.0
9,10,India,816.996745,0.085255,Feb 2024,60.0
10,11,"Netherlands, The",612.453734,0.58239,Feb 2024,61.0
11,12,Turkey5),556.214883,0.331567,Nov 2022,62.0
12,13,ECB,506.516127,0.350509,Feb 2024,63.0
13,14,Taiwan Province of China,422.381885,0.04656,Jan 2024,64.0
14,15,Portugal,382.631955,0.720579,Feb 2024,65.0
15,16,"Uzbekistan, Rep. of",368.573295,0.74961,Feb 2024,66.0
16,17,"Poland, Rep. of",358.694105,0.125539,Feb 2024,67.0
17,18,Saudi Arabia,323.067432,0.046468,Dec 2023,68.0
18,19,United Kingdom,310.287116,0.11793,Feb 2024,69.0
19,20,"Kazakhstan, Rep. of",306.1616,0.55529,Feb 2024,70.0
20,21,Lebanon,286.834002,0.566905,Sep 2023,71.0
21,22,Spain,281.577556,0.181248,Feb 2024,72.0
22,23,Austria,279.991291,0.601102,Feb 2024,73.0
23,24,Thailand,244.160368,0.072265,Feb 2024,74.0
24,25,Singapore,232.149762,0.04176,Feb 2024,75.0
25,26,Belgium,227.395726,0.370281,Feb 2024,76.0
26,27,Algeria,173.556032,0.14113,Feb 2024,77.0
27,28,"Venezuela, Republica Bolivariana de",161.220491,0.846097,Jun 2018,78.0
28,29,Philippines,157.042935,0.100093,Jan 2024,79.0
29,30,Iraq,142.577214,0.083605,Dec 2023,80.0
30,31,Brazil,129.652632,0.024205,Feb 2024,81.0
31,32,"Egypt, Arab Rep. of",126.190903,0.250219,Nov 2023,82.0
32,33,Sweden,125.719262,0.137139,Feb 2024,83.0
33,34,South Africa,125.439333,0.134899,Jan 2024,84.0
34,35,Mexico,120.410961,0.036118,Feb 2024,85.0
35,36,Libya,116.64,0.094456,Nov 2020,86.0
36,37,Greece,114.428789,0.558002,Feb 2024,87.0
37,38,"Korea, Rep. of",104.445164,0.016512,Feb 2024,88.0
38,39,Romania,103.623526,0.090642,Feb 2024,89.0
39,40,Qatar,102.523603,0.130508,Feb 2024,90.0
40,41,BIS2),102,1),Feb 2024,91.0
41,42,Hungary,94.491618,0.123488,Feb 2024,92.0
42,43,Australia,79.873099,0.094019,Feb 2024,93.0
43,44,Kuwait,78.970162,0.101326,Jan 2024,94.0
44,45,Indonesia,78.566846,0.035659,Jan 2024,95.0
45,46,United Arab Emirates,73.920486,0.025189,Jan 2024,96.0
46,47,Jordan,70.4028,0.243739,2024-02-29 00:00:00,97.0
47,48,Denmark,66.548474,0.040654,Feb 2024,98.0
48,49,Pakistan,64.673552,0.316592,Feb 2024,99.0
49,50,Argentina,61.738777,0.152403,Feb 2024,100.0
50,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN
53,WORLD OFFICIAL GOLD HOLDINGS,NaN,NaN,NaN,NaN,NaN
54,"International Financial Statistics, April 2024*",NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,Other,Tonnes,% of reserves**,Holdings as of,NaN
57,NaN,World6),35976.210476,0.151481,Jan 2024,NaN
58,NaN,Euro Area (incl. ECB),10771.484557,0.564062,Feb 2024,NaN
59,NaN,State Oil Fund of the Republic of Azerbaijan (...,101.8,0.119551,2023-12-31 00:00:00,NaN

,Unnamed: 6,Tonnes.1,% of reserves**.1,Holdings as of .1
0,"Belarus, Rep. of4)",53.954776,0.432568,Feb 2024
1,Finland,49.018693,0.191509,Feb 2024
2,Cambodia,42.485231,0.148683,Jul 2023
3,Bulgaria,40.866536,0.066856,Feb 2024
4,"Serbia, Rep. of",40.511681,0.098356,Feb 2024
5,Malaysia,38.879040,0.022423,Feb 2024
6,WAEMU3),36.522496,0.143692,Jan 2024
7,Peru,34.670160,0.031983,Jul 2021
8,Czech Rep.,34.032752,0.015453,Feb 2024
9,Slovak Rep.,31.694193,0.175784,Feb 2024
10,Ukraine,27.059812,0.048048,Feb 2024
11,Ecuador,26.281073,0.340195,Feb 2024
12,Syrian Arab Republic,25.800000,0.092495,Jun 2011
13,Bolivia,24.308411,0.755728,Aug 2023
14,Kyrgyz Rep.,23.506396,0.463949,Feb 2024
15,Morocco,22.115399,0.040815,Feb 2024
16,"Afghanistan, Islamic Rep. of",21.865850,0.148425,May 2021
17,Nigeria,21.461230,0.040429,Jan 2018
18,Bangladesh,14.050879,0.042337,Dec 2023
19,Cyprus,13.903145,0.5142,Feb 2024
20,Curaçao and Sint Maarten,13.094461,0.34712,Nov 2023
21,Mauritius,12.416410,0.11467,Feb 2024
22,Ireland,12.036951,0.062754,Feb 2024
23,Ghana,8.740008,0.140122,Jan 2024
24,Paraguay,8.193369,0.054596,Dec 2023
25,Nepal,7.987724,0.042238,Dec 2023
26,"Tajikistan, Rep. of",7.415256,0.134642,Feb 2023
27,Myanmar,7.268825,0.058472,Mar 2021
28,"North Macedonia, Republic of",6.893006,0.096514,Feb 2024
29,Guatemala,6.892476,0.021917,Feb 2024
30,Tunisia,6.842711,0.055937,Feb 2024
31,Mongolia,6.766831,0.091926,Feb 2024
32,Latvia,6.656092,0.089347,Feb 2024
33,Lithuania,5.816304,0.0702,Feb 2024
34,BEAC9),4.746073,1),Feb 2024
35,Colombia,4.675025,0.005227,Feb 2024
36,"Bahrain, Kingdom of",4.665485,0.072431,Nov 2023
37,Brunei Darussalam,4.551763,0.071613,Nov 2023
38,"Mozambique, Rep. of",3.936888,0.070153,Jan 2024
39,Albania,3.421355,0.036582,Jan 2024
40,"Slovenia, Rep. of",3.172530,0.080899,Feb 2024
41,"Aruba, Kingdom of the Netherlands",3.110323,0.135453,Jun 2023
42,Oman,2.358424,0.008908,Jan 2024
43,Luxembourg,2.239433,0.049993,Feb 2024
44,Hong Kong SAR,2.083917,0.000324,Jan 2024
45,Iceland,1.984386,0.022712,Feb 2024
46,Trinidad and Tobago,1.949262,0.022766,Feb 2024
47,Haiti,1.788893,0.045343,Jul 2019
48,"Yemen, Republic of",1.600000,0.019945,Jul 2014
49,Bosnia and Herzegovina,1.492955,0.011095,Feb 2024
50,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN

In [3]:
df1.dropna(thresh=5, inplace=True)
df1.drop(columns=['Unnamed: 0', 'Unnamed: 5'], inplace=True)
df1

,Unnamed: 1,Tonnes,% of reserves**,Holdings as of
0,United States,8133.461673,0.697158,Feb 2024
1,Germany,3352.306305,0.687148,Feb 2024
2,IMF,2814.042083,1),Feb 2024
3,Italy,2451.836646,0.659711,Feb 2024
4,France,2436.969301,0.66837,Feb 2024
5,Russian Federation,2329.632049,0.26131,Jan 2024
6,"China, P.R.: Mainland",2257.472551,0.04324,Feb 2024
7,Switzerland,1039.998756,0.08015,Feb 2024
8,Japan,845.97309,0.043469,Feb 2024
9,India,816.996745,0.085255,Feb 2024
10,"Netherlands, The",612.453734,0.58239,Feb 2024
11,Turkey5),556.214883,0.331567,Nov 2022
12,ECB,506.516127,0.350509,Feb 2024
13,Taiwan Province of China,422.381885,0.04656,Jan 2024
14,Portugal,382.631955,0.720579,Feb 2024
15,"Uzbekistan, Rep. of",368.573295,0.74961,Feb 2024
16,"Poland, Rep. of",358.694105,0.125539,Feb 2024
17,Saudi Arabia,323.067432,0.046468,Dec 2023
18,United Kingdom,310.287116,0.11793,Feb 2024
19,"Kazakhstan, Rep. of",306.1616,0.55529,Feb 2024
20,Lebanon,286.834002,0.566905,Sep 2023
21,Spain,281.577556,0.181248,Feb 2024
22,Austria,279.991291,0.601102,Feb 2024
23,Thailand,244.160368,0.072265,Feb 2024
24,Singapore,232.149762,0.04176,Feb 2024
25,Belgium,227.395726,0.370281,Feb 2024
26,Algeria,173.556032,0.14113,Feb 2024
27,"Venezuela, Republica Bolivariana de",161.220491,0.846097,Jun 2018
28,Philippines,157.042935,0.100093,Jan 2024
29,Iraq,142.577214,0.083605,Dec 2023
30,Brazil,129.652632,0.024205,Feb 2024
31,"Egypt, Arab Rep. of",126.190903,0.250219,Nov 2023
32,Sweden,125.719262,0.137139,Feb 2024
33,South Africa,125.439333,0.134899,Jan 2024
34,Mexico,120.410961,0.036118,Feb 2024
35,Libya,116.64,0.094456,Nov 2020
36,Greece,114.428789,0.558002,Feb 2024
37,"Korea, Rep. of",104.445164,0.016512,Feb 2024
38,Romania,103.623526,0.090642,Feb 2024
39,Qatar,102.523603,0.130508,Feb 2024
40,BIS2),102,1),Feb 2024
41,Hungary,94.491618,0.123488,Feb 2024
42,Australia,79.873099,0.094019,Feb 2024
43,Kuwait,78.970162,0.101326,Jan 2024
44,Indonesia,78.566846,0.035659,Jan 2024
45,United Arab Emirates,73.920486,0.025189,Jan 2024
46,Jordan,70.4028,0.243739,2024-02-29 00:00:00
47,Denmark,66.548474,0.040654,Feb 2024
48,Pakistan,64.673552,0.316592,Feb 2024
49,Argentina,61.738777,0.152403,Feb 2024

In [22]:
df2.columns

Index(['Unnamed: 6', 'Tonnes.1', '% of reserves**.1', 'Holdings as of .1'], dtype='object')

In [4]:
df2.rename(columns={'Unnamed: 6': 'country', 'Tonnes.1': 'tons', '% of reserves**.1': 'percentage_reserves',
                    'Holdings as of .1': 'year'}, inplace=True)

df2

                              country       tons percentage_reserves      year
0                  Belarus, Rep. of4)  53.954776            0.432568  Feb 2024
1                             Finland  49.018693            0.191509  Feb 2024
2                            Cambodia  42.485231            0.148683  Jul 2023
3                            Bulgaria  40.866536            0.066856  Feb 2024
4                     Serbia, Rep. of  40.511681            0.098356  Feb 2024
5                            Malaysia  38.879040            0.022423  Feb 2024
6                             WAEMU3)  36.522496            0.143692  Jan 2024
7                                Peru  34.670160            0.031983  Jul 2021
8                          Czech Rep.  34.032752            0.015453  Feb 2024
9                         Slovak Rep.  31.694193            0.175784  Feb 2024
10                            Ukraine  27.059812            0.048048  Feb 2024
11                            Ecuador  26.281073            0.340195  Feb 2024
12               Syrian Arab Republic  25.800000            0.092495  Jun 2011
13                            Bolivia  24.308411            0.755728  Aug 2023
14                        Kyrgyz Rep.  23.506396            0.463949  Feb 2024
15                            Morocco  22.115399            0.040815  Feb 2024
16       Afghanistan, Islamic Rep. of  21.865850            0.148425  May 2021
17                            Nigeria  21.461230            0.040429  Jan 2018
18                         Bangladesh  14.050879            0.042337  Dec 2023
19                             Cyprus  13.903145              0.5142  Feb 2024
20           Curaçao and Sint Maarten  13.094461             0.34712  Nov 2023
21                          Mauritius  12.416410             0.11467  Feb 2024
22                            Ireland  12.036951            0.062754  Feb 2024
23                              Ghana   8.740008            0.140122  Jan 2024
24                           Paraguay   8.193369            0.054596  Dec 2023
25                              Nepal   7.987724            0.042238  Dec 2023
26                Tajikistan, Rep. of   7.415256            0.134642  Feb 2023
27                            Myanmar   7.268825            0.058472  Mar 2021
28       North Macedonia, Republic of   6.893006            0.096514  Feb 2024
29                          Guatemala   6.892476            0.021917  Feb 2024
30                            Tunisia   6.842711            0.055937  Feb 2024
31                           Mongolia   6.766831            0.091926  Feb 2024
32                             Latvia   6.656092            0.089347  Feb 2024
33                          Lithuania   5.816304              0.0702  Feb 2024
34                             BEAC9)   4.746073                  1)  Feb 2024
35                           Colombia   4.675025            0.005227  Feb 2024
36                Bahrain, Kingdom of   4.665485            0.072431  Nov 2023
37                  Brunei Darussalam   4.551763            0.071613  Nov 2023
38                Mozambique, Rep. of   3.936888            0.070153  Jan 2024
39                            Albania   3.421355            0.036582  Jan 2024
40                  Slovenia, Rep. of   3.172530            0.080899  Feb 2024
41  Aruba, Kingdom of the Netherlands   3.110323            0.135453  Jun 2023
42                               Oman   2.358424            0.008908  Jan 2024
43                         Luxembourg   2.239433            0.049993  Feb 2024
44                      Hong Kong SAR   2.083917            0.000324  Jan 2024
45                            Iceland   1.984386            0.022712  Feb 2024
46                Trinidad and Tobago   1.949262            0.022766  Feb 2024
47                              Haiti   1.788893            0.045343  Jul 2019
48                 Yemen, Republic of   1.600000            0.019945  Jul 2014
49             Bosnia and Herzegovina   1.492955            0.011095  Feb 2024
50                                NaN        NaN                 NaN       NaN
51                                NaN        NaN                 NaN       NaN
52                                NaN        NaN                 NaN       NaN
53                                NaN        NaN                 NaN       NaN
54                                NaN        NaN                 NaN       NaN
55                                NaN        NaN                 NaN       NaN
56                                NaN        NaN                 NaN       NaN
57                                NaN        NaN                 NaN       NaN
58                                NaN        NaN                 NaN       NaN
59                                NaN        NaN                 NaN       NaN

In [8]:
df2.dropna(inplace=True)

KeyError: 'Holdings as of'